/*
    Title: site.css
    Author: Jeremy Lates
    Date: 11/23/2023

    1. Code adapted from Professor Richard Krasso https://github.com/buwebdev/web-330/blob/master/portfolio/site.css


*/
body {
  width: 960px;
  margin: auto;
  font-family: "Oswald", Verdana, Arial, sans-serif;
}
.container {
  height: 500px;
}
#header {
  width: 100%;
  height: 80px;
  background-color: #6d63bf;
  border-bottom: 20px solid #1cc776;
}
#nav-list {
  margin: 0px;
  color: white;
}
#nav-list li {
  float: left;
  margin: 0;
  padding: 12px;
  display: block;
  font-size: 12px;
}
#nav-list li a {
  color: white;
  text-decoration: none;
}

/* #nav-list li a {
  background-color: #4f3674;
  color: #fff;
  text-decoration: none;
  padding: 3px 5px 3px 5px;
  display: block;
} */

#nav-list li a:hover {
  color: #1cc776;
  cursor: pointer;
}
#home {
  color: #1cc776;
}
#banner {
  text-align: center;
  margin: 0px;
  font-size: 12px;
}
h1 {
  margin: 0px;
}
#footer {
  font-size: 12px;
  text-align: center;
  height: 20px;
  font-style: italic;
  background-color: #6d63bf;
  border-bottom: 10px solid #1cc776;
  color: #fff;
  width: 100%;
  margin: 0px;
}
#footer p {
  margin: 0px;
}
.wrapper {
  display: flex;
  margin-top: 10px;
}
.left-column {
  float: left;
  width: 20%;
  background-color: #fff;
  height: 200px;
}
.middle-column {
  float: left;
  width: 60%;
  background-color: #fff;
  height: 200px;
}
.middle-column p {
  margin: 0px;
  font-size: 12px;
}
.right-column {
  float: left;
  width: 20%;
  background-color: #fff;
  height: 200px;
}
#jeremyImg {
  width: 200px;
  height: 200px;
}
#developerImg {
  width: 200px;
  height: 200px;
}

#useful-links ul {
  list-style-type: none;
  text-align: center;
}
.links-title {
  color: #1cc776;
}
