/*
    Title: apitest.css
    Author: Jeremy Lates
    Date: 12/16/2023

*/
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-div,
.middle-div,
.right-div {
  box-shadow: 5px 5px 5px 5px grey;
  height: 450px;
  width: 450px;
  margin: 33px;
  text-align: center;
  background-color: #6d63bf;
}
#create-composer {
  width: 250px;
  height: 200px;
}
#find-all-composer {
  width: 250px;
  height: 150px;
}
